body {
	font-size: 11px;
	color: black;
	font-family: Verdana;
	background-color: #E8E8E8;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

div.main {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

table {
	font-size: 10px;
	color: #000000;
	font-family: Verdana;
}

.form { 
	text-decoration: none; 
	font-family: Verdana; 
	font-size: 10px; 
	color: #000000;
}

a:link,
a:visited,
a:active {
	color: #A60000;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	color: #121212;
	text-decoration: none;
}

a.news:link,
a.news:visited,
a.news:active {
	color: #A60000;
	font-weight: normal;
	text-decoration: underline;
}

a.news:hover {
	color: #121212;
	text-decoration: underline;
}

a.feat:link,
a.feat:visited,
a.feat:active {
	color: #FFFFFF;
	text-decoration: none;
}

a.feat:hover {
	color: #C2B8A5;
	text-decoration: none;
}

a.OnRed:link,
a.OnRed:visited,
a.OnRed:hover,
a.OnRed:active {
	color: #FFFFFF;
	text-decoration: none;
}

.OnWhite {
	color: #000000;
}

.OnBlack {
	color: #FFFFFF;
}

.OnBlack2t {
	color: #F1D04A;
}

.OnRed {
	color: #FFFFFF;
}

.switchbox {
}

.InfoTdClassM1 {
	color: #FFFFFF;
	background-color: #121212;
}

.InfoTdClassM2 {
	color: #121212;
	background-color: #FFFFFF;
}

.InfoTdClass1 {
	color: #121212;
	background-color: #C2B8A5;
}

.RateBg1 {
	color: #FFFFFF;
	background-color: #121212;
}

.RateBg2 {
	color: #FFFFFF;
	background-color: #A60000;
}

:link img {
  border: none;
}

.ChapterTitleList {
	width: 30px;
	visibility: hidden;
}

.ChapterTitleText {
	width: 30px;
	visibility: visible;
}

.VolumeTitleList {
	width: 30px;
	visibility: hidden;
}

.VolumeTitleText {
	width: 30px;
	visibility: visible;
}