/*
Author Name: Tony Million
Author Site: http://www.tonymillion.com
Style Name: TMK2
Style URI: http://www.tonymillion.com
Version: 0.1
Comments: based on Blue-K2 by Th3 ProphetMan available here: http://blog.moskis.net/downloads/blue-k2/
*/


/* Main Structure */

body {
	margin: 0;
	}

#page {
	background: #EEE url("bg.jpg");
	_background: #EEE url("bg.jpg") -5px; /* IE Hack */
	border: none;
	}

#header {
	margin-top: -20px;
	margin-left: 10px;
	margin-right: 10px;
}

#footer {
	position: relative;
	height: 59px;
	margin-top: 0;
	margin-bottom: 0 !important;
	padding-top: 26px;
	padding-bottom: 0px;
	background: #EEE url('bg.jpg') top center;
	background-repeat: repeat-y;
	//margin-right: 1px; /* IE Hack */
}

#footer a {
	color: #000!important;
	border-bottom: none;
	}

#footer a:hover {
	text-decoration: underline;
	border-bottom: none;
	}

/* Asides */

#primary .k2-asides .entry-content {
	color: #666 !important;
	font-size: 9px !important;
	margin: 0px 10px;
	margin-top: -28px;
	padding: 35px 8px 5px 8px;
	-moz-border-radius: 15px;
	background: #F0F4FF url("aparte-bg.jpg") no-repeat top right;
	background-position: 98% 7px; 
	}


#primary .k2-asides .entry-content img {
	border: 1px solid #9be;
	}

#primary .k2-asides .entry-head {
	padding: 0 0 0 18px;
	}

#primary .k2-asides .entry-head a {
	font-size: 14px;
	}

#primary .k2-asides .entry-meta {
	display: none;
	border: none;
	background: none;
	}

.secondary .sb-asides span {
	color:#27d;
	font-weight:bold;
	margin-left:5px;
	}

/* Parrafos Especiales */

.quote {
	background: url('parrafo-quote.png') 25px 4px no-repeat;
	margin: 10px auto;
	min-height: 35px;
	padding: 0 30px 0 67px;
	}

.alert {
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	}

.alert2 {
	background: #FFF6BF url('parrafo-alert.png') 10px center no-repeat;
	border-top: 2px solid #FFD324;
	border-bottom: 2px solid #FFD324;
	padding: 10px 10px 10px 52px;
	text-align: center;
	line-height: normal;
	}

.download {
	background: #D0F29D url('parrafo-download.png') 10px center no-repeat;
	border-top: 2px solid #9CD941;
	border-bottom: 2px solid #9CD941;
	padding: 10px 10px 10px 52px;
	text-align: center;
	line-height: normal;
	}

.construction {
	background: #ffcccc url('parrafo-cross.png') 10px center no-repeat;
	border-top: 2px solid #c90404;
	border-bottom: 2px solid #c90404;
	padding: 10px 10px 10px 52px;
	text-align: center;
	line-height: normal;
	}

.favorite {
	background: #FFF6BF url('parrafo-favorite.png') 10px center no-repeat;
	border-top: 2px solid #FFD324;
	border-bottom: 2px solid #FFD324;
	padding: 10px 10px 10px 52px;
	text-align: center;
	line-height: normal;
	}

.info {
	background: #9DD1F2 url('parrafo-info.png') 10px center no-repeat;
	border-top: 2px solid #419ED9;
	border-bottom: 2px solid #419ED9;
	padding: 10px 10px 10px 52px;
	text-align: center;
	line-height: normal;
	}

.question {
	background: #9DD1F2 url('parrafo-question.png') 10px center no-repeat;
	border-top: 2px solid #419ED9;
	border-bottom: 2px solid #419ED9;
	padding: 10px 10px 10px 52px;
	text-align: center;
	line-height: normal;
	}

.code {
	background: #f2f2f2 url('parrafo-code.png') 10px center no-repeat;
	border-top: 2px solid #CCC;
	border-bottom: 2px solid #CCC;
	padding: 10px 10px 10px 52px;
	text-align: left;
	font: Courier, Fixed;
	}

code {
	display: block;
	background: #f2f2f2 10px 20px no-repeat;
	border-top: 2px solid #CCC;
	border-bottom: 2px solid #CCC;
	padding: 10px 10px 10px 52px;
	text-align: left;
	font: Courier, Fixed;
	}

.bluebox {
	background: #9DD1F2;
	border-top: 2px solid #419ED9;
	border-bottom: 2px solid #419ED9;
	text-align: center;
	padding: 5px 20px;
	}

.yellowbox {
	background: #FFF6BF;
	border-top: 2px solid #FFD324;
	border-bottom: 2px solid #FFD324;
	text-align: center;
	padding: 5px 20px;
	}

.redbox {
	background: #ffcccc;
	border-top: 2px solid #c90404;
	border-bottom: 2px solid #c90404;
	text-align: center;
	padding: 5px 20px;
	}

.greenbox {
	background: #D0F29D;
	border-top: 2px solid #9CD941;
	border-bottom: 2px solid #9CD941;
	text-align: center;
	padding: 5px 20px;
	}

.greybox {
	background: #f2f2f2;
	border-top: 2px solid #CCC;
	border-bottom: 2px solid #CCC;
	text-align: center;
	padding: 5px 20px;
	}
	
/* Links de Parrafos Especiales*/

.download a, .alert2 a, .info a,
.question a, .favorite a, .construction a ,
.code a, .bluebox a, .yellowbox a,
.redbox a, .greenbox a, .greybox a {
	font-weight: bold;
	}

.download a:hover, .alert2 a:hover, .info a:hover,
.question a:hover, .favorite a:hover, .construction a:hover ,
.code a:hover, .bluebox a:hover, .yellowbox a:hover,
.redbox a:hover, .greenbox a:hover, .greybox a:hover{
	color: #f36 !important;
	font-weight: bold;
	text-decoration: none !important;
	}
