[Desktop Entry]
Encoding=UTF-8
Icon=
Name=kbearftp://radar%40offbeat-zero.net@offbeat-zero.net:21/make2.php
Type=Link
URL=kbearftp://radar%40offbeat-zero.net:pulsestats@offbeat-zero.net:21/make2.php
