body {
	font: 10pt Trebuchet MS;
	background: #f4fcff;
	margin: 0px;
	padding: 0px;
	spacing: 0px;
}

.logo {
	width: 75%;
	border: 1px solid #daf8ff;
	border-top: 0px;
}

a {
	color: #3895c1;
	text-decoration: none;
}

.menu {
	position: absolute;
	left: 12.5%;
	top: 130px;
	width: 15%;
	padding: 5px;
	background: white;
	border: 1px solid #daf8ff;
}

.codebox {
	padding: 5px;
	background: #f4fcff;
	margin: 2px;
	border: 1px solid #daf8ff;
}

.codebox img {
	position: relative;
	display: inline;
}

.content {
	border: 1px solid #daf8ff;
	position: absolute;
	left: 30.7%;
	top: 130px;
	padding: 5px;
	width: 56%;
	background: white;
}

input  , select,textarea {
	margin: 2px;
	padding: 2px;
	font: 10pt "Trebuchet MS";
	background: white;
	border: 1px solid #93cce8;
}

.chead {
	background: #7dbcdc;
	color: white;
	padding-left: 5px;
	font-size: 10pt;
	font-weight: bold;
	border: 1px solid #6da2bd;
}

.cstuff {
	font-size: 10pt;
}

.stats {
	width: 30%;
	position: relative;
	background: #daf8ff;
	padding: 5px;
	border: 1px solid #6da2bd;
	right: -65%;
}

.img {
	position: relative;
	top: 75px;
}

.count {
	position: absolute;
	top: 80px;
	color: #b4ddf2;
	right: 14%;
}

table {
	font-size: 10pt;
}

.bgt {
	background: #daf8ff;
	padding: 5px;
}

.bgpri {
	padding: 5px;
	border-right: 1px solid #daf8ff;
}

.bgpri img {
	border: 1px solid #daf8ff;
}

.box {
	width: 15px;
	height: 15px;
	border: 1px solid black;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #6da2bd;
}

.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: white;
	border-top: 1px solid #6da2bd;
}