vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|09 Sep 2006 02:17:21 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|09 Sep 2006 02:17:21 -0000
vti_filesize:IR|1704
vti_backlinkinfo:VX|style_ie.css information/editchapter.html style_ie7.css style_other.css css/transition2.css style_safari.css style.css
