/* Start Rack Header */
#rack-header {
    background-color:#4f4f4f;
}

#rack-header-body {
    color:#fff;
}

#rack-header-body a:link,
#rack-header-body a:active,
#rack-header-body a:visited,
#rack-header-body a:hover {
    color:#fff;
}
/* End Rack Header */


/* Start General Rack Styles */
table.rack-fancy th {
    background:transparent url(../../../ext/resources/images/vista/grid/grid-vista-hd.gif) repeat scroll 0%;
}

table.rack-fancy td.header {
    background-color:#f5f5f5;
}

table.rack-bordered th {
    border-right:1px solid #aca899;
    border-bottom:1px solid #555;
}

/* End General Rack Styles */


/* Start Rack Panel */
.rack-panel {
    background-color:#fff;
    border:1px solid #4c535c;
}
/* End Rack Panel */

/* Start Titlebar */
.rack-titlebar-dlg {
    background:transparent url(../../../ext/resources/images/vista/basic-dialog/hd-sprite.gif) repeat-x 0px -83px;
    border-bottom:1px solid #4c535c;
}

.rack-titlebar-lyt {
    background:transparent url(../../../ext/resources/images/vista/layout/panel-title-bg.gif) repeat-x 0px 0px;
    border-bottom:1px solid #4c535c;
}

.rack-titlebar-text-dlg {
    color:#fff;
}

.rack-titlebar-text-lyt {
    color:#fff;
}

.rack-titlebar-icon-on-dlg {
    border:1px solid #4c535c;
    background:#9f9f9f url(../../../ext/resources/images/vista/layout/panel-title-bg.gif) repeat-x;
}

.rack-titlebar-icon-on-lyt {
    border:1px solid #4c535c;
    background:#9f9f9f url(../../../ext/resources/images/vista/layout/panel-title-bg.gif) repeat-x;
}

/*
Icon color offsets
0 - white
48 - blue
96 - gray
*/

/*
dlg - blue
lyt - blue
*/

.rack-tbicon-down-dlg {
    background:transparent url(../images/iconsprite.gif) no-repeat 0px 0px;
}

.rack-tbicon-down-lyt {
    background:transparent url(../images/iconsprite.gif) no-repeat 0px 0px;
}

.rack-tbicon-up-dlg {
    background:transparent url(../images/iconsprite.gif) no-repeat 0px -12px;
}

.rack-tbicon-up-lyt {
    background:transparent url(../images/iconsprite.gif) no-repeat 0px -12px;
}

.rack-tbicon-reload-dlg {
    background:transparent url(../images/iconsprite.gif) no-repeat 0px -24px;
}

.rack-tbicon-reload-lyt {
    background:transparent url(../images/iconsprite.gif) no-repeat 0px -24px;
}

.rack-tbicon-left-dlg {
    background:transparent url(../images/iconsprite.gif) no-repeat -11px 0px;
}

.rack-tbicon-left-lyt {
    background:transparent url(../images/iconsprite.gif) no-repeat -11px 0px;
}

.rack-tbicon-right-dlg {
    background:transparent url(../images/iconsprite.gif) no-repeat -11px -12px;
}

.rack-tbicon-right-lyt {
    background:transparent url(../images/iconsprite.gif) no-repeat -11px -12px;
}

.rack-tbicon-close-dlg {
    background:transparent url(../images/iconsprite.gif) no-repeat -11px -24px;
}

.rack-tbicon-close-lyt {
    background:transparent url(../images/iconsprite.gif) no-repeat -11px -24px;
}

.rack-tbicon-min-dlg {
    background:transparent url(../images/iconsprite.gif) no-repeat -22px -24px;
}

.rack-tbicon-min-lyt {
    background:transparent url(../images/iconsprite.gif) no-repeat -22px -24px;
}

.rack-tbicon-max-dlg {
    background:transparent url(../images/iconsprite.gif) no-repeat -33px -24px;
}

.rack-tbicon-max-lyt {
    background:transparent url(../images/iconsprite.gif) no-repeat -33px -24px;
}
/* End Titlebar */


/* Start Simple Page Styles  */
.simple-layout {
    background:#4f4f4f url(../images/vista/simple-body-bg.jpg) repeat-x fixed 0px 0px;
}

.simple-layout div.body-one {
    border:1px solid #303035;
    background-color:#fff;
}

.simple-layout div.body-two {
    border:1px solid #303035;
    background:#fff url(../images/vista/simple-body-two-bg.gif) repeat-y 0px 0px;
}
/* End Simple Page Styles */