[main]
Description=Rackspace RSA connection
Host=64.39.1.20
AuthType=1
GroupName=rackspace
GroupPwd=
enc_GroupPwd=F1209F0FD6B0FB1B334CAE584F918DB403E696B966B3EF35031B3951BFC239AE77FC42A67045A7A5ECBD4B31092F648E4B973300B95CEB10
EnableISPConnect=0
ISPConnectType=0
ISPConnect=
ISPPhonebook=
ISPCommand=
Username=
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
