# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName bleach7.com
AuthUserFile /home/bleach7/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/bleach7/public_html/_vti_pvt/service.grp
AddType video/x-matroska mkv
