.main { 
text-decoration: none; 
font-family: Verdana; 
font-size: 11px; 
color: #000000 
}

.form { 
text-decoration: none; 
font-family: Verdana; 
font-size: 10px; 
color: #000000 
}

.secondary { 
text-decoration: none; 
font-family: Verdana, Tahoma; 
font-size: 11px; 
color: #000000 
}

.secondary a:link { 
text-decoration: none; 
font-family: Verdana, Tahoma; 
font-size: 11px; 
color: #000000 
}

.secondary a:active { 
text-decoration: none; 
font-family: Verdana, Tahoma; 
font-size: 11px; 
color: #000000 
}

.secondary a:visited { 
text-decoration: none; 
font-family: Verdana, Tahoma; 
font-size: 11px; 
color: #000000 
}

.secondary a:hover { 
text-decoration: underline; 
font-family: Verdana, Tahoma; 
font-size: 11px; 
color: #000000 
}

a:link { 
text-decoration: none; 
font-family: Verdana; 
font-size: 11px; 
color: #000000  
}

a:active { 
text-decoration: none; 
font-family: Verdana; 
font-size: 11px; 
color: #000000 
}

a:visited { 
text-decoration: none; 
font-family: Verdana; 
font-size: 11px; 
color: #000000 
}

a:hover { 
text-decoration: underline; 
font-family: Verdana; 
font-size: 11px; 
color: #000000 
}