body {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 13px;
padding: 20px;
margin: 0px;
background-color: #ddd;
}

h1 {
font-size: 18px;
margin: 0 0 20px 0;
color: #900;
}

h2 {
font-size: 13px;
margin: 10px 0 4px 0;
color: #333;
padding: 0;
}

a {
color: #00b;
}

a:visited {
color: #449;
}

a:hover {
color: white;
background-color: #009;
}

p {
margin: 0 0 15px 0;
padding: 0;
}

#rap {
text-align:left;
margin: 0px auto 0px auto;
width: 600px;
border: 1px solid #ccc;
padding: 15px 20px 20px 20px;
background-color: white;
}

table {
font-size: 12px;
width: 100%;
padding: 0px;
margin: 0px;
border-spacing: 0px;
border-collapse: collapse; 
border: 1px solid #cccccc;
text-align: left;
}

th {
padding: 6px 6px 6px 8px;
background-color: #f3f3f3;
font-size: 12px;
color: #666;
white-space: nowrap;
}

tr {
border: 1px solid #bbb;
padding: 4px;
background-color: #f9f9ff;
}

td {
padding: 6px;
}

.easy_header {
padding-left: 14px;
margin-right: 14px;
overflow: visible;
background: url(green_arrow.gif) top left no-repeat;
}

.upload_link a {
color: #b00;
font-size: 12px;
font-weight: bold;

}

.upload_link a:hover {
color: #fff;
background-color: #b00;
font-size: 12px;
font-weight: bold;
}

.upload_link {
font-size: 11px;
}

.alignr { 
text-align: right 
}

#rss_feed {
text-align: right;
margin: 2px 0 0 0;
font-size: 11px;
}

#bottom_links_one {
margin: 0;
}

#bottom_links_two {
margin: 10px 0 0 0;
}

#vol
{
font-weight: bold;
}