vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|07 Sep 2006 03:31:49 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|07 Sep 2006 03:31:49 -0000
vti_filesize:IR|391
vti_cachedlinkinfo:VX|Q|indexbottominfo.css Q|indexheader.css Q|indexmainphp.css Q|indexsidebar.css Q|indextop.css Q|fonts.css Q|misc.css Q|information.css Q|manga.css
vti_cachedsvcrellinks:VX|FQUS|css/indexbottominfo.css FQUS|css/indexheader.css FQUS|css/indexmainphp.css FQUS|css/indexsidebar.css FQUS|css/indextop.css FQUS|css/fonts.css FQUS|css/misc.css FQUS|css/information.css FQUS|css/manga.css
vti_backlinkinfo:VX|
