body
{
	background-color: #E7E7E7;
	color: #292929;
	font-family: verdana,sans-serif;
	margin: 0px 0px 0px 0px;
	text-align: left;
}

table
{
	border-collapse: collapse;
	border-spacing: 0px;
	empty-cells: show;
	margin: 0px;
	padding: 0px;
}

/* IE bug fix: cellpadding=0 cellspacing=0 */
table.ion
{
	border-collapse: collapse;
}

/* override previous IE hack */
html>body table.ion {
	border-collapse: separate;	
}

table.ion
{
	margin: 0;
	padding: 0;
	border: 1px solid #777;
	background-color: #F5F5F5;
}

table.ion-tab
{
	margin: 0;
	padding: 0;
	border-top: 1px solid #777;
	background-color: #F5F5F5;
}

table.graph
{
	border: 1px solid;
	border-color: #000000;
}

table.graph td.graph
{
	background-color: #882C2C;
}

table.graph td.nograph
{
	background-color: #FFFFFF;
	color: #882C2C;
}

/* Table header styles */

th,
table.ion th,
table.ion-tab th
{
	border: 0px;
	color: #292929;
	font-family: verdana,sans-serif;
	font-size: 10pt;
	padding: 4px;
	text-align: left;
	vertical-align: top;
}

table.ion th.title,
table.ion-tab th.title
{
	background-color: #B4B4B4;
	border-bottom: 1px solid #777777;
	border-right: 1px solid #777777; 
	font-weight: bold;
	padding: 4px 4px 4px 4px;
}

table.ion th.title-icon,
table.ion-tab th.title-icon
{
	background-color: #B4B4B4;
	border-bottom: 1px solid #777777;
	border-right: 1px solid #777777; 
	font-weight: bold;
	padding: 3px 4px 1px 4px;
}

table.ion th.title-last,
table.ion-tab th.title-last
{
	background-color: #B4B4B4;
	border-bottom: 1px solid #777777;
	font-weight: bold;
}

table.ion th.title-last-icon,
table.ion-tab th.title-last-icon
{
	background-color: #B4B4B4;
	border-bottom: 1px solid #777777;
	font-weight: bold;
	padding: 3px 4px 1px 4px;
}

table.ion th.title-bottom,
table.ion-tab th.title-bottom
{
	background-color: #B4B4B4;
	border-right: 1px solid #777777;
	font-weight: bold;
}

table.ion th.title-bottom-icon,
table.ion-tab th.title-bottom-icon
{
	background-color: #B4B4B4;
	border-right: 1px solid #777777;
	font-weight: bold;
	padding: 3px 4px 1px 4px;
}

table.ion th.title-naked,
table.ion-tab th.title-naked
{
	background-color: #B4B4B4;
	font-weight: bold;
}

table.ion th.title-naked-icon,
table.ion-tab th.title-naked-icon
{
	background-color: #B4B4B4;
	font-weight: bold;
	padding: 3px 4px 1px 4px;
}

table.ion th.title-add,
table.ion-tab th.title-add
{
	background-color: #90A98E;
	border-bottom: 1px solid #668364;
	border-right: 1px solid #668364; 
	font-weight: bold;
}

table.ion th.title-add-icon,
table.ion-tab th.title-add-icon
{
	background-color: #90A98E;
	border-bottom: 1px solid #668364;
	border-right: 1px solid #668364; 
	font-weight: bold;
	padding: 3px 4px 1px 4px;
}

table.ion th.title-add-last,
table.ion-tab th.title-add-last
{
	background-color: #90A98E;
	border-bottom: 1px solid #668364;
	font-weight: bold;
}

table.ion th.title-add-last-icon,
table.ion-tab th.title-add-last-icon
{
	background-color: #90A98E;
	border-bottom: 1px solid #668364;
	font-weight: bold;
	padding: 3px 4px 1px 4px;
}

table.ion th.title-add-bottom,
table.ion-tab th.title-add-bottom
{
	background-color: #90A98E;
	border-right: 1px solid #668364;
	font-weight: bold;
}

table.ion th.title-add-bottom-icon,
table.ion-tab th.title-add-bottom-icon
{
	background-color: #90A98E;
	border-right: 1px solid #668364;
	font-weight: bold;
	padding: 3px 4px 1px 4px;
}

table.ion th.title-add-naked,
table.ion-tab th.title-add-naked
{
	background-color: #90A98E;
	font-weight: bold;
}

table.ion th.title-add-naked-icon,
table.ion-tab th.title-add-naked-icon
{
	background-color: #90A98E;
	font-weight: bold;
	padding: 3px 4px 1px 4px;
}

table.ion th.title-edit,
table.ion-tab th.title-edit
{
	background-color: #8F8FAC;
	border-bottom: 1px solid #68688A;
	border-right: 1px solid #68688A; 
	font-weight: bold;
}

table.ion th.title-edit-icon,
table.ion-tab th.title-edit-icon
{
	background-color: #8F8FAC;
	border-bottom: 1px solid #68688A;
	border-right: 1px solid #68688A; 
	font-weight: bold;
	padding: 3px 4px 1px 4px;
}

table.ion th.title-edit-last,
table.ion-tab th.title-edit-last
{
	background-color: #8F8FAC;
	border-bottom: 1px solid #68688A;
	font-weight: bold;
}

table.ion th.title-edit-last-icon,
table.ion-tab th.title-edit-last-icon
{
	background-color: #8F8FAC;
	border-bottom: 1px solid #68688A;
	font-weight: bold;
	padding: 3px 4px 1px 4px;
}

table.ion th.title-edit-bottom,
table.ion-tab th.title-edit-bottom
{
	background-color: #8F8FAC;
	border-right: 1px solid #68688A;
	font-weight: bold;
}

table.ion th.title-edit-bottom-icon,
table.ion-tab th.title-edit-bottom-icon
{
	background-color: #8F8FAC;
	border-right: 1px solid #68688A;
	font-weight: bold;
	padding: 3px 4px 1px 4px;
}

table.ion th.title-edit-naked,
table.ion-tab th.title-edit-naked
{
	background-color: #8F8FAC;
	font-weight: bold;
}

table.ion th.title-edit-naked-icon,
table.ion-tab th.title-edit-naked-icon
{
	background-color: #8F8FAC;
	font-weight: bold;
	padding: 3px 4px 1px 4px;
}

table.ion th.title-delete,
table.ion-tab th.title-delete
{
	background-color: #C37E7E;
	border-bottom: 1px solid #9E5353;
	border-right: 1px solid #9E5353; 
	font-weight: bold;
}

table.ion th.title-delete-icon,
table.ion-tab th.title-delete-icon
{
	background-color: #C37E7E;
	border-bottom: 1px solid #9E5353;
	border-right: 1px solid #9E5353; 
	font-weight: bold;
	padding: 3px 4px 1px 4px;
}

table.ion th.title-delete-last,
table.ion-tab th.title-delete-last
{
	background-color: #C37E7E;
	border-bottom: 1px solid #9E5353;
	font-weight: bold;
}

table.ion th.title-delete-last-icon,
table.ion-tab th.title-delete-last-icon
{
	background-color: #C37E7E;
	border-bottom: 1px solid #9E5353;
	font-weight: bold;
	padding: 3px 4px 1px 4px;
}

table.ion th.title-delete-bottom,
table.ion-tab th.title-delete-bottom
{
	background-color: #C37E7E;
	border-right: 1px solid #9E5353;
	font-weight: bold;
}

table.ion th.title-delete-bottom-icon,
table.ion-tab th.title-delete-bottom-icon
{
	background-color: #C37E7E;
	border-right: 1px solid #9E5353;
	font-weight: bold;
	padding: 3px 4px 1px 4px;
}

table.ion th.title-delete-naked,
table.ion-tab th.title-delete-naked
{
	background-color: #C37E7E;
	font-weight: bold;
}

table.ion th.title-delete-naked-icon,
table.ion-tab th.title-delete-naked-icon
{
	background-color: #C37E7E;
	font-weight: bold;
	padding: 3px 4px 1px 4px;
}

table.ion th.title-note,
table.ion-tab th.title-note
{
	background-color: #F1F58C;
	border-bottom: 1px solid #777777;
	border-right: 1px solid #777777; 
	font-weight: bold;
}

table.ion th.title-note-icon,
table.ion-tab th.title-note-icon
{
	background-color: #F1F58C;
	border-bottom: 1px solid #777777;
	border-right: 1px solid #777777; 
	font-weight: bold;
	padding: 3px 4px 1px 4px;
}

table.ion th.title-note-last,
table.ion-tab th.title-note-last
{
	background-color: #F1F58C;
	border-bottom: 1px solid #777777;
	font-weight: bold;
}

table.ion th.title-note-last-icon,
table.ion-tab th.title-note-last-icon
{
	background-color: #F1F58C;
	border-bottom: 1px solid #777777;
	font-weight: bold;
	padding: 3px 4px 1px 4px;
}

table.ion th.title-note-middle-last,
table.ion-tab th.title-note-middle-last
{
	background-color: #F1F58C;
	border-top: 1px solid #777777;
	border-bottom: 1px solid #777777;
	font-weight: bold;
}

table.ion th.title-note-middle-last-icon,
table.ion-tab th.title-note-middle-last-icon
{
	background-color: #F1F58C;
	border-top: 1px solid #777777;
	border-bottom: 1px solid #777777;
	font-weight: bold;
	padding: 3px 4px 1px 4px;
}

table.ion th.title-note-bottom,
table.ion-tab th.title-note-bottom
{
	background-color: #F1F58C;
	border-right: 1px solid #777777;
	font-weight: bold;
}

table.ion th.title-note-bottom-icon,
table.ion-tab th.title-note-bottom-icon
{
	background-color: #F1F58C;
	border-right: 1px solid #777777;
	font-weight: bold;
	padding: 3px 4px 1px 4px;
}

table.ion th.title-note-naked,
table.ion-tab th.title-note-naked
{
	background-color: #F1F58C;
	font-weight: bold;
}

table.ion th.title-note-naked-icon,
table.ion-tab th.title-note-naked-icon
{
	background-color: #F1F58C;
	font-weight: bold;
	padding: 3px 4px 1px 4px;
}

table.ion th.subtitle,
table.ion-tab th.subtitle
{
	border-right: 1px solid #777777;
	border-bottom: 1px solid #777777;
	background-image: url("/images/subtitleback.gif");
	font-weight: bold;
}

table.ion th.subtitle-icon,
table.ion-tab th.subtitle-icon
{
	border-right: 1px solid #777777;
	border-bottom: 1px solid #777777;
	background-image: url("/images/subtitleback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-last,
table.ion-tab th.subtitle-last
{
	border-bottom: 1px solid #777777;
	background-image: url("/images/subtitleback.gif");
	font-weight: bold;
}

table.ion th.subtitle-last-icon,
table.ion-tab th.subtitle-last-icon
{
	border-bottom: 1px solid #777777;
	background-image: url("/images/subtitleback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-middle,
table.ion-tab th.subtitle-middle
{
	border-top: 1px solid #777777;
	border-right: 1px solid #777777;
	border-bottom: 1px solid #777777;
	background-image: url("/images/subtitleback.gif");
	font-weight: bold;
}

table.ion th.subtitle-middle-icon,
table.ion-tab th.subtitle-middle-icon
{
	border-top: 1px solid #777777;
	border-right: 1px solid #777777;
	border-bottom: 1px solid #777777;
	background-image: url("/images/subtitleback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-middle-last,
table.ion-tab th.subtitle-middle-last
{
	border-top: 1px solid #777777;
	border-bottom: 1px solid #777777;
	background-image: url("/images/subtitleback.gif");
	font-weight: bold;
}

table.ion th.subtitle-middle-last-icon,
table.ion-tab th.subtitle-middle-last-icon
{
	border-top: 1px solid #777777;
	border-bottom: 1px solid #777777;
	background-image: url("/images/subtitleback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-bottom,
table.ion-tab th.subtitle-bottom
{
	border-right: 1px solid #777777;
	background-image: url("/images/subtitleback.gif");
	font-weight: bold;
}

table.ion th.subtitle-bottom-icon,
table.ion-tab th.subtitle-bottom-icon
{
	border-right: 1px solid #777777;
	background-image: url("/images/subtitleback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-naked,
table.ion-tab th.subtitle-naked
{
	background-image: url("/images/subtitleback.gif");
	font-weight: bold;
}

table.ion th.subtitle-naked-icon,
table.ion-tab th.subtitle-naked-icon
{
	background-image: url("/images/subtitleback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-tab,
table.ion-tab th.subtitle-tab
{
	border-bottom: 1px solid #777777;
	background-image: url("/images/subtitleback.gif");
	font-weight: bold;
	padding: 6px 0px 0px 4px;
}

table.ion th.subtitle-tab-icon,
table.ion-tab th.subtitle-tab-icon
{
	border-bottom: 1px solid #777777;
	background-image: url("/images/subtitleback.gif");
	font-weight: bold;
	padding: 3px 0px 3px 4px;
}

table.ion th.subtitle-add,
table.ion-tab th.subtitle-add
{
	border-right: 1px solid #777777;
	border-bottom: 1px solid #668364;
	background-image: url("/images/addbuttonback.gif");
	font-weight: bold;
}

table.ion th.subtitle-add-icon,
table.ion-tab th.subtitle-add-icon
{
	border-right: 1px solid #777777;
	border-bottom: 1px solid #668364;
	background-image: url("/images/addbuttonback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-add-last,
table.ion-tab th.subtitle-add-last
{
	border-bottom: 1px solid #668364;
	background-image: url("/images/addbuttonback.gif");
	font-weight: bold;
}

table.ion th.subtitle-add-last-icon,
table.ion-tab th.subtitle-add-last-icon
{
	border-bottom: 1px solid #668364;
	background-image: url("/images/addbuttonback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-add-middle,
table.ion-tab th.subtitle-add-middle
{
	border-top: 1px solid #668364;
	border-right: 1px solid #668364;
	border-bottom: 1px solid #668364;
	background-image: url("/images/addbuttonback.gif");
	font-weight: bold;
}

table.ion th.subtitle-add-middle-icon,
table.ion-tab th.subtitle-add-middle-icon
{
	border-top: 1px solid #668364;
	border-right: 1px solid #668364;
	border-bottom: 1px solid #668364;
	background-image: url("/images/addbuttonback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-add-middle-last,
table.ion-tab th.subtitle-add-middle-last
{
	border-top: 1px solid #668364;
	border-bottom: 1px solid #668364;
	background-image: url("/images/addbuttonback.gif");
	font-weight: bold;
}

table.ion th.subtitle-add-middle-last-icon,
table.ion-tab th.subtitle-add-middle-last-icon
{
	border-top: 1px solid #668364;
	border-bottom: 1px solid #668364;
	background-image: url("/images/addbuttonback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-add-naked,
table.ion-tab th.subtitle-add-naked
{
	background-image: url("/images/addbuttonback.gif");
	font-weight: bold;
}

table.ion th.subtitle-add-naked-icon,
table.ion-tab th.subtitle-add-naked-icon
{
	background-image: url("/images/addbuttonback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-add-tab,
table.ion-tab th.subtitle-add-tab
{
	border-bottom: 1px solid #668364;
	background-image: url("/images/addbuttonback.gif");
	font-weight: bold;
	padding: 6px 0px 0px 4px;
}

table.ion th.subtitle-add-tab-icon,
table.ion-tab th.subtitle-add-tab-icon
{
	border-bottom: 1px solid #668364;
	background-image: url("/images/addbuttonback.gif");
	font-weight: bold;
	padding: 3px 0px 3px 4px;
}

table.ion th.subtitle-edit,
table.ion-tab th.subtitle-edit
{
	border-right: 1px solid #68688A;
	border-bottom: 1px solid #68688A;
	background-image: url("/images/editbuttonback.gif");
	font-weight: bold;
}

table.ion th.subtitle-edit-icon,
table.ion-tab th.subtitle-edit-icon
{
	border-right: 1px solid #68688A;
	border-bottom: 1px solid #68688A;
	background-image: url("/images/editbuttonback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-edit-last,
table.ion-tab th.subtitle-edit-last
{
	border-bottom: 1px solid #68688A;
	background-image: url("/images/editbuttonback.gif");
	font-weight: bold;
}

table.ion th.subtitle-edit-last-icon,
table.ion-tab th.subtitle-edit-last-icon
{
	border-bottom: 1px solid #68688A;
	background-image: url("/images/editbuttonback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-edit-middle,
table.ion-tab th.subtitle-edit-middle
{
	border-top: 1px solid #68688A;
	border-right: 1px solid #68688A;
	border-bottom: 1px solid #68688A;
	background-image: url("/images/editbuttonback.gif");
	font-weight: bold;
}

table.ion th.subtitle-edit-middle-icon,
table.ion-tab th.subtitle-edit-middle-icon
{
	border-top: 1px solid #68688A;
	border-right: 1px solid #68688A;
	border-bottom: 1px solid #68688A;
	background-image: url("/images/editbuttonback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-edit-middle-last,
table.ion-tab th.subtitle-edit-middle-last
{
	border-top: 1px solid #68688A;
	border-bottom: 1px solid #68688A;
	background-image: url("/images/editbuttonback.gif");
	font-weight: bold;
}

table.ion th.subtitle-edit-middle-last-icon,
table.ion-tab th.subtitle-edit-middle-last-icon
{
	border-top: 1px solid #68688A;
	border-bottom: 1px solid #68688A;
	background-image: url("/images/editbuttonback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-edit-naked,
table.ion-tab th.subtitle-edit-naked
{
	background-image: url("/images/editbuttonback.gif");
	font-weight: bold;
}

table.ion th.subtitle-edit-naked-icon,
table.ion-tab th.subtitle-edit-naked-icon
{
	background-image: url("/images/editbuttonback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-edit-tab,
table.ion-tab th.subtitle-edit-tab
{
	border-bottom: 1px solid #68688A;
	background-image: url("/images/editbuttonback.gif");
	font-weight: bold;
	padding: 6px 0px 0px 4px;
}

table.ion th.subtitle-edit-tab-icon,
table.ion-tab th.subtitle-edit-tab-icon
{
	border-bottom: 1px solid #68688A;
	background-image: url("/images/editbuttonback.gif");
	font-weight: bold;
	padding: 3px 0px 3px 4px;
}

table.ion th.subtitle-delete,
table.ion-tab th.subtitle-delete
{
	border-right: 1px solid #9E5353;
	border-bottom: 1px solid #9E5353;
	background-image: url("/images/delbuttonback.gif");
	font-weight: bold;
}

table.ion th.subtitle-delete-icon,
table.ion-tab th.subtitle-delete-icon
{
	border-right: 1px solid #9E5353;
	border-bottom: 1px solid #9E5353;
	background-image: url("/images/delbuttonback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-delete-last,
table.ion-tab th.subtitle-delete-last
{
	border-bottom: 1px solid #9E5353;
	background-image: url("/images/delbuttonback.gif");
	font-weight: bold;
}

table.ion th.subtitle-delete-last-icon,
table.ion-tab th.subtitle-delete-last-icon
{
	border-bottom: 1px solid #9E5353;
	background-image: url("/images/delbuttonback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-delete-middle,
table.ion-tab th.subtitle-delete-middle
{
	border-top: 1px solid #9E5353;
	border-right: 1px solid #9E5353;
	border-bottom: 1px solid #9E5353;
	background-image: url("/images/delbuttonback.gif");
	font-weight: bold;
}

table.ion th.subtitle-delete-middle-icon,
table.ion-tab th.subtitle-delete-middle-icon
{
	border-top: 1px solid #9E5353;
	border-right: 1px solid #9E5353;
	border-bottom: 1px solid #9E5353;
	background-image: url("/images/delbuttonback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-delete-middle-last,
table.ion-tab th.subtitle-delete-middle-last
{
	border-top: 1px solid #9E5353;
	border-bottom: 1px solid #9E5353;
	background-image: url("/images/delbuttonback.gif");
	font-weight: bold;
}

table.ion th.subtitle-delete-middle-last-icon,
table.ion-tab th.subtitle-delete-middle-last-icon
{
	border-top: 1px solid #9E5353;
	border-bottom: 1px solid #9E5353;
	background-image: url("/images/delbuttonback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-delete-naked,
table.ion-tab th.subtitle-delete-naked
{
	background-image: url("/images/delbuttonback.gif");
	font-weight: bold;
}

table.ion th.subtitle-delete-naked-icon,
table.ion-tab th.subtitle-delete-naked-icon
{
	background-image: url("/images/delbuttonback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-delete-tab,
table.ion-tab th.subtitle-delete-tab
{
	border-bottom: 1px solid #9E5353;
	background-image: url("/images/delbuttonback.gif");
	font-weight: bold;
	padding: 6px 0px 0px 4px;
}

table.ion th.subtitle-delete-tab-icon,
table.ion-tab th.subtitle-delete-tab-icon
{
	border-bottom: 1px solid #9E5353;
	background-image: url("/images/delbuttonback.gif");
	font-weight: bold;
	padding: 3px 0px 3 4px;
}

table.ion th.subtitle-note,
table.ion-tab th.subtitle-note
{
	border-right: 1px solid #777777;
	border-bottom: 1px solid #777777;
	background-image: url("/images/noteback.gif");
	font-weight: bold;
}

table.ion th.subtitle-note-icon,
table.ion-tab th.subtitle-note-icon
{
	border-right: 1px solid #777777;
	border-bottom: 1px solid #777777;
	background-image: url("/images/noteback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-note-last,
table.ion-tab th.subtitle-note-last
{
	border-bottom: 1px solid #777777;
	background-image: url("/images/noteback.gif");
	font-weight: bold;
}

table.ion th.subtitle-note-last-icon,
table.ion-tab th.subtitle-note-last-icon
{
	border-bottom: 1px solid #777777;
	background-image: url("/images/noteback.gif");
	font-weight: bold;
	padding: 3px 4px 1px 4px;
}

table.ion th.subtitle-note-middle,
table.ion-tab th.subtitle-note-middle
{
	border-top: 1px solid #777777;
	border-right: 1px solid #777777;
	border-bottom: 1px solid #777777;
	background-image: url("/images/noteback.gif");
	font-weight: bold;
}

table.ion th.subtitle-note-middle-icon,
table.ion-tab th.subtitle-note-middle-icon
{
	border-top: 1px solid #777777;
	border-right: 1px solid #777777;
	border-bottom: 1px solid #777777;
	background-image: url("/images/noteback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-note-middle-last,
table.ion-tab th.subtitle-note-middle-last
{
	border-top: 1px solid #777777;
	border-bottom: 1px solid #777777;
	background-image: url("/images/noteback.gif");
	font-weight: bold;
}

table.ion th.subtitle-note-middle-last-icon,
table.ion-tab th.subtitle-note-middle-last-icon
{
	border-top: 1px solid #777777;
	border-bottom: 1px solid #777777;
	background-image: url("/images/noteback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-note-naked,
table.ion-tab th.subtitle-note-naked
{
	background-image: url("/images/noteback.gif");
	font-weight: bold;
}

table.ion th.subtitle-note-naked-icon,
table.ion-tab th.subtitle-note-naked-icon
{
	background-image: url("/images/noteback.gif");
	font-weight: bold;
	padding: 2px 4px 1px 4px;
}

table.ion th.subtitle-note-tab,
table.ion-tab th.subtitle-note-tab
{
	border-bottom: 1px solid #777777;
	background-image: url("/images/noteback.gif");
	font-weight: bold;
	padding: 6px 0px 0px 4px;
}

table.ion th.subtitle-note-tab-icon,
table.ion-tab th.subtitle-note-tab-icon
{
	border-bottom: 1px solid #777777;
	background-image: url("/images/noteback.gif");
	font-weight: bold;
	padding: 3px 0px 3 4px;
}

table.ion th.header,
table.ion-tab th.header
{
	background: transparent url("/images/headerback.gif") 100% 0px no-repeat;
	border-bottom: 1px solid #B6B6B6;
	background-color: #E9E9E9;
	font-weight: bold;
}

table.ion th.header-last,
table.ion-tab th.header-last
{
	background: transparent url("/images/headerback.gif") 100% 0px no-repeat;
	border-bottom: 1px solid #B6B6B6;
	background-color: #E9E9E9;
	font-weight: bold;
}

table.ion th.header-middle,
table.ion-tab th.header-middle
{
	background: transparent url("/images/headerback.gif") 100% 0px no-repeat;
	border-top: 1px solid #B6B6B6;
	border-bottom: 1px solid #B6B6B6;
	background-color: #E9E9E9;
	font-weight: bold;
}

table.ion th.header-middle-last,
table.ion-tab th.header-middle-last
{
	background: transparent url("/images/headerback.gif") 100% 0px no-repeat;
	border-top: 1px solid #B6B6B6;
	border-bottom: 1px solid #B6B6B6;
	background-color: #E9E9E9;
	font-weight: bold;
}

table.ion th.header-plain,
table.ion-tab th.header-plain
{
	border-bottom: 1px solid #B6B6B6;
	border-right: 1px solid #777777;
	background-color: #E9E9E9;
	font-weight: bold;
}

table.ion th.header-middle-plain,
table.ion-tab th.header-middle-plain
{
	border-bottom: 1px solid #B6B6B6;
	border-top: 1px solid #B6B6B6;
	border-right: 1px solid #777777;
	background-color: #E9E9E9;
	font-weight: bold;
}

table.ion th.header-add,
table.ion-tab th.header-add
{
	border-right: 1px solid #668364;
	border-bottom: 1px solid #668364;
	background-color: #D2E4D0;
	font-weight: bold;
}

table.ion th.header-add-last,
table.ion-tab th.header-add-last
{
	border-bottom: 1px solid #668364;
	background-color: #D2E4D0;
	font-weight: bold;
}

table.ion th.header-add-middle,
table.ion-tab th.header-middle
{
	border-top: 1px solid #668364;
	border-right: 1px solid #668364;
	border-bottom: 1px solid #668364;
	background-color: #D2E4D0;
	font-weight: bold;
}

table.ion th.header-add-middle-last,
table.ion-tab th.header-add-middle-last
{
	border-top: 1px solid #668364;
	border-bottom: 1px solid #668364;
	background-color: #D2E4D0;
	font-weight: bold;
}

table.ion th.header-edit,
table.ion-tab th.header-edit
{
	border-right: 1px solid #68688A;
	border-bottom: 1px solid #68688A;
	background-color: #D7D7EA;
	font-weight: bold;
}

table.ion th.header-edit-last,
table.ion-tab th.header-edit-last
{
	border-bottom: 1px solid #68688A;
	background-color: #D7D7EA;
	font-weight: bold;
}

table.ion th.header-edit-middle,
table.ion-tab th.header-edit-middle
{
	border-top: 1px solid #68688A;
	border-right: 1px solid #68688A;
	border-bottom: 1px solid #68688A;
	background-color: #D7D7EA;
	font-weight: bold;
}

table.ion th.header-edit-middle-last,
table.ion-tab th.header-edit-middle-last
{
	border-top: 1px solid #68688A;
	border-bottom: 1px solid #68688A;
	background-color: #D7D7EA;
	font-weight: bold;
}

table.ion th.header-delete,
table.ion-tab th.header-delete
{
	border-right: 1px solid #9E5353;
	border-bottom: 1px solid #9E5353;
	background-color: #E8C8C8;
	font-weight: bold;
}

table.ion th.header-delete-last,
table.ion-tab th.header-delete-last
{
	border-bottom: 1px solid #9E5353;
	background-color: #E8C8C8;
	font-weight: bold;
}

table.ion th.header-delete-middle,
table.ion-tab th.header-delete-middle
{
	border-top: 1px solid #9E5353;
	border-right: 1px solid #9E5353;
	border-bottom: 1px solid #9E5353;
	background-color: #E8C8C8;
	font-weight: bold;
}

table.ion th.header-delete-middle-last,
table.ion-tab th.header-delete-middle-last
{
	border-top: 1px solid #9E5353;
	border-bottom: 1px solid #9E5353;
	background-color: #E8C8C8;
	font-weight: bold;
}

table.ion th.header-note,
table.ion-tab th.header-note
{
	border-right: 1px solid #777777;
	border-bottom: 1px solid #777777;
	background-color: #F6F8B6;
	font-weight: bold;
}

table.ion th.header-note-last,
table.ion-tab th.header-note-last
{
	border-bottom: 1px solid #777777;
	background-color: #F6F8B6;
	font-weight: bold;
}

table.ion th.header-note-middle,
table.ion-tab th.header-note-middle
{
	border-top: 1px solid #777777;
	border-right: 1px solid #777777;
	border-bottom: 1px solid #777777;
	background-color: #F6F8B6;
	font-weight: bold;
}

table.ion th.header-note-middle-last,
table.ion-tab th.header-note-middle-last
{
	border-top: 1px solid #777777;
	border-bottom: 1px solid #777777;
	background-color: #F6F8B6;
	font-weight: bold;
}

table.ion th.footer,
table.ion-tab th.footer
{
	border-top: 1px solid #777777;
	border-right: 1px solid #777777;
	background-color: #B4B4B4;
	font-weight: bold;
}

table.ion th.footer-last,
table.ion-tab th.footer-last
{
	border-top: 1px solid #777777;
	background-color: #B4B4B4;
	font-weight: bold;
}

table.ion th.footer-add,
table.ion-tab th.footer-add
{
	border-top: 1px solid #668364;
	border-right: 1px solid #668364;
	background-color: #90A98E;
	font-weight: bold;
}

table.ion th.footer-add-last,
table.ion-tab th.footer-add-last
{
	border-top: 1px solid #668364;
	background-color: #90A98E;
	font-weight: bold;
}

table.ion th.footer-edit,
table.ion-tab th.footer-edit
{
	border-top: 1px solid #68688A;
	border-right: 1px solid #68688A;
	background-color: #8F8FAC;
	font-weight: bold;
}

table.ion th.footer-edit-last,
table.ion-tab th.footer-edit-last
{
	border-top: 1px solid #68688A;
	background-color: #8F8FAC;
	font-weight: bold;
}

table.ion th.footer-delete,
table.ion-tab th.footer-delete
{
	border-top: 1px solid #9E5353;
	border-right: 1px solid #9E5353;
	background-color: #C37E7E;
	font-weight: bold;
}

table.ion th.footer-delete-last,
table.ion-tab th.footer-delete-last
{
	border-top: 1px solid #9E5353;
	background-color: #C37E7E;
	font-weight: bold;
}

table.ion th.footer-note,
table.ion-tab th.footer-note
{
	border-top: 1px solid #777777;
	border-right: 1px solid #777777;
	background-color: #F1F58C;
	font-weight: bold;
}

table.ion th.footer-note-last,
table.ion-tab th.footer-note-last
{
	border-top: 1px solid #777777;
	background-color: #F1F58C;
	font-weight: bold;
}

table.ion tr.evenrow td.cell,
table.ion tr.evenrow td.cell-last,
table.ion tr.evenrow td.cell-bottom,
table.ion tr.evenrow td.cell-naked,
table.ion-tab tr.evenrow td.cell,
table.ion-tab tr.evenrow td.cell-last,
table.ion-tab tr.evenrow td.cell-bottom,
table.ion-tab tr.evenrow td.cell-naked,
table.ion tr.evenrow td.cell-title,
table.ion tr.evenrow td.cell-title-last,
table.ion-tab tr.evenrow td.cell-title,
table.ion-tab tr.evenrow td.cell-title-last
{
	background: transparent url("/images/cellback2.gif") 100% 0px no-repeat;
	background-color: #F5F5F5;
	border-right: 0px;
}

table.ion tr.oddrow td.cell,
table.ion tr.oddrow td.cell-last,
table.ion tr.oddrow td.cell-bottom,
table.ion tr.oddrow td.cell-naked,
table.ion-tab tr.oddrow td.cell,
table.ion-tab tr.oddrow td.cell-last,
table.ion-tab tr.oddrow td.cell-bottom,
table.ion-tab tr.oddrow td.cell-naked,
table.ion tr.oddrow td.cell-title,
table.ion tr.oddrow td.cell-title-last,
table.ion-tab tr.oddrow td.cell-title,
table.ion-tab tr.oddrow td.cell-title-last
{
	background: transparent url("/images/cellback3.gif") 100% 0px no-repeat;
	background-color: #F0F0F0;
	border-right: 0px;
}

table.ion tr.evenrow td.cell-add,
table.ion tr.evenrow td.cell-add-last,
table.ion tr.evenrow td.cell-add-bottom,
table.ion tr.evenrow td.cell-add-naked,
table.ion tr.evenrow td.cell-title-add,
table.ion tr.evenrow td.cell-title-add-last,
table.ion tr.evenrow td.cell-title-add-bottom,
table.ion tr.evenrow td.cell-title-add-naked,
table.ion-tab tr.evenrow td.cell-add,
table.ion-tab tr.evenrow td.cell-add-last,
table.ion-tab tr.evenrow td.cell-add-bottom,
table.ion-tab tr.evenrow td.cell-add-naked,
table.ion-tab tr.evenrow td.cell-title-add,
table.ion-tab tr.evenrow td.cell-title-add-last,
table.ion-tab tr.evenrow td.cell-title-add-bottom,
table.ion-tab tr.evenrow td.cell-title-add-naked
{
	background-color: #EBF9EA;
}

table.ion tr.oddrow td.cell-add,
table.ion tr.oddrow td.cell-add-last,
table.ion tr.oddrow td.cell-add-bottom,
table.ion tr.oddrow td.cell-add-naked,
table.ion tr.oddrow td.cell-title-add,
table.ion tr.oddrow td.cell-title-add-last,
table.ion tr.oddrow td.cell-title-add-bottom,
table.ion tr.oddrow td.cell-title-add-naked,
table.ion-tab tr.oddrow td.cell-add,
table.ion-tab tr.oddrow td.cell-add-last,
table.ion-tab tr.oddrow td.cell-add-bottom,
table.ion-tab tr.oddrow td.cell-add-naked,
table.ion-tab tr.oddrow td.cell-title-add,
table.ion-tab tr.oddrow td.cell-title-add-last,
table.ion-tab tr.oddrow td.cell-title-add-bottom,
table.ion-tab tr.oddrow td.cell-title-add-naked
{
	background-color: #F6FFF5;
}

table.ion tr.evenrow td.cell-edit,
table.ion tr.evenrow td.cell-edit-last,
table.ion tr.evenrow td.cell-edit-bottom,
table.ion tr.evenrow td.cell-edit-naked,
table.ion tr.evenrow td.cell-title-edit,
table.ion tr.evenrow td.cell-title-edit-last,
table.ion tr.evenrow td.cell-title-edit-bottom,
table.ion tr.evenrow td.cell-title-edit-naked,
table.ion-tab tr.evenrow td.cell-edit,
table.ion-tab tr.evenrow td.cell-edit-last,
table.ion-tab tr.evenrow td.cell-edit-bottom,
table.ion-tab tr.evenrow td.cell-edit-naked,
table.ion-tab tr.evenrow td.cell-title-edit,
table.ion-tab tr.evenrow td.cell-title-edit-last,
table.ion-tab tr.evenrow td.cell-title-edit-bottom,
table.ion-tab tr.evenrow td.cell-title-edit-naked
{
	background: transparent url("/images/celleditback1.gif") 100% 0px no-repeat;
	background-color: #EEEEFC;
	border-right: 0px;
}

table.ion tr.oddrow td.cell-edit,
table.ion tr.oddrow td.cell-edit-last,
table.ion tr.oddrow td.cell-edit-bottom,
table.ion tr.oddrow td.cell-edit-naked,
table.ion tr.oddrow td.cell-title-edit,
table.ion tr.oddrow td.cell-title-edit-last,
table.ion tr.oddrow td.cell-title-edit-bottom,
table.ion tr.oddrow td.cell-title-edit-naked,
table.ion-tab tr.oddrow td.cell-edit,
table.ion-tab tr.oddrow td.cell-edit-last,
table.ion-tab tr.oddrow td.cell-edit-bottom,
table.ion-tab tr.oddrow td.cell-edit-naked,
table.ion-tab tr.oddrow td.cell-title-edit,
table.ion-tab tr.oddrow td.cell-title-edit-last,
table.ion-tab tr.oddrow td.cell-title-edit-bottom,
table.ion-tab tr.oddrow td.cell-title-edit-naked
{
	background: transparent url("/images/celleditback2.gif") 100% 0px no-repeat;
	background-color: #F5F5FF;
	border-right: 0px;
}

table.ion tr.evenrow td.cell-note,
table.ion tr.evenrow td.cell-note-last,
table.ion tr.evenrow td.cell-note-bottom,
table.ion tr.evenrow td.cell-note-naked,
table.ion tr.evenrow td.cell-title-note,
table.ion tr.evenrow td.cell-title-note-last,
table.ion-tab tr.evenrow td.cell-note,
table.ion-tab tr.evenrow td.cell-note-last,
table.ion-tab tr.evenrow td.cell-note-bottom,
table.ion-tab tr.evenrow td.cell-note-naked,
table.ion-tab tr.evenrow td.cell-title-note,
table.ion-tab tr.evenrow td.cell-title-note-last
{
	background-color: #FDFFCE;
}

table.ion tr.oddrow td.cell-note,
table.ion tr.oddrow td.cell-note-last,
table.ion tr.oddrow td.cell-note-bottom,
table.ion tr.oddrow td.cell-note-naked,
table.ion tr.oddrow td.cell-title-note,
table.ion tr.oddrow td.cell-title-note-last,
table.ion-tab tr.oddrow td.cell-note,
table.ion-tab tr.oddrow td.cell-note-last,
table.ion-tab tr.oddrow td.cell-note-bottom,
table.ion-tab tr.oddrow td.cell-note-naked,
table.ion-tab tr.oddrow td.cell-title-note,
table.ion-tab tr.oddrow td.cell-title-note-last
{
	background-color: #FDFFBE;
}

td,
table.ion td,
table.ion-tab td
{
	border: 0px;
	border-spacing: 0px;
	font-family: verdana,sans-serif;
	font-size: 10pt;
	margin-left: 0px;
	padding: 0px;
	vertical-align: top;
}

table.ion td.cell,
table.ion-tab td.cell
{
	background-color: #F5F5F5;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	padding: 4px;
}

table.ion td.cell-mid,
table.ion-tab td.cell-mid
{
	background-color: #F5F5F5;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #777777;
	padding: 4px;
}

table.ion td.cell-mid-bottom,
table.ion-tab td.cell-mid-bottom
{
	background-color: #F5F5F5;
	border-right: 1px solid #777777;
	padding: 4px;
}

table.ion td.cell-last,
table.ion-tab td.cell-last
{
	background-color: #F5F5F5;
	border-bottom: 1px solid #DDDDDD;
	padding: 4px;
}

table.ion td.cell-bottom,
table.ion-tab td.cell-bottom
{
	background-color: #F5F5F5;
	border-right: 1px solid #DDDDDD;
	padding: 4px;
}

table.ion td.cell-naked,
table.ion-tab td.cell-naked
{
	background-color: #F5F5F5;
	padding: 4px;
}

table.ion td.cell-icon,
table.ion-tab td.cell-icon
{
	background-color: #F5F5F5;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	padding: 1px 4px 2px 4px;
}

table.ion td.cell-mid-icon,
table.ion-tab td.cell-mid-icon
{	
	background-color: #F5F5F5;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #777777;
	padding: 1px 4px 2px 4px;
}

table.ion td.cell-title,
table.ion-tab td.cell-title,
table.ion td.cell-title-last,
table.ion-tab td.cell-title-last
{
	background-color: #F5F5F5;
	border-bottom: 1px solid #DDDDDD;
	font-weight: bold;
	padding: 4px;
}

table.ion td.cell-title-editable,
table.ion-tab td.cell-title-editable,
table.ion td.cell-title-last-editable,
table.ion-tab td.cell-title-last-editable
{
	color: #3A3A8C;
	background-color: #F5F5F5;
	border-bottom: 1px solid #DDDDDD;
	font-weight: bold;
	padding: 4px;
}

table.ion td.cell-title-last-icon,
table.ion-tab td.cell-title-last-icon
{
	background-color: #F5F5F5;
	border-bottom: 1px solid #DDDDDD;
	font-weight: bold;
	padding: 1px 4px 2px 4px;
}

table.ion td.cell-title-bottom,
table.ion-tab td.cell-title-bottom,
table.ion td.cell-title-naked,
table.ion-tab td.cell-title-naked
{
	background-color: #F5F5F5;
	font-weight: bold;
	padding: 4px;
}

table.ion td.cell-title-bottom-editable,
table.ion-tab td.cell-title-bottom-editable,
table.ion td.cell-title-naked-editable,
table.ion-tab td.cell-title-naked-editable
{
	color: #3A3A8C;
	background-color: #F5F5F5;
	font-weight: bold;
	padding: 4px;
}

table.ion td.cell-title-naked-icon,
table.ion-tab td.cell-title-naked-icon
{
	background-color: #F5F5F5;
	font-weight: bold;
	padding: 1px 4px 2px 4px;
}
	
table.ion td.cell-add,
table.ion-tab td.cell-add,
table.ion td.cell-add-validate,
table.ion-tab td.cell-add-validate
{
	background-color: #EBF9EA;
	border-bottom: 1px solid #CDE2CB;
	border-right: 1px solid #CDE2CB;
	padding: 4px;
}

table.ion td.cell-add-last,
table.ion-tab td.cell-add-last,
table.ion td.cell-add-last-validate,
table.ion-tab td.cell-add-last-validate
{
	background-color: #EBF9EA;
	border-bottom: 1px solid #CDE2CB;
	padding: 4px;
}

table.ion td.cell-add-bottom,
table.ion-tab td.cell-add-bottom,
table.ion td.cell-add-bottom-validate,
table.ion-tab td.cell-add-bottom-validate
{
	background-color: #EBF9EA;
	border-right: 1px solid #CDE2CB;
	padding: 4px;
}

table.ion td.cell-add-naked,
table.ion-tab td.cell-add-naked,
table.ion td.cell-add-naked-validate,
table.ion-tab td.cell-add-naked-validate
{
	background-color: #EBF9EA;
	padding: 4px;
}

table.ion td.cell-title-add,
table.ion-tab td.cell-title-add,
table.ion td.cell-title-add-last,
table.ion-tab td.cell-title-add-last
{
	background-color: #EBF9EA;
	border-bottom: 1px solid #CDE2CB;
	font-weight: bold;
	padding: 4px;
}

table.ion td.cell-title-add-bottom,
table.ion-tab td.cell-title-add-bottom,
table.ion td.cell-title-add-naked,
table.ion-tab td.cell-title-add-naked
{
	background-color: #EBF9EA;
	font-weight: bold;
	padding: 4px;
}
	
table.ion td.cell-edit,
table.ion-tab td.cell-edit
{
	background-color: #EEEEFC;
	border-bottom: 1px solid #D3D3E8;
	border-right: 1px solid #D3D3E8;
	padding: 4px;
}

table.ion td.cell-edit-last,
table.ion-tab td.cell-edit-last,
table.ion td.cell-edit-last-validate,
table.ion-tab td.cell-edit-last-validate
{
	background-color: #EEEEFC;
	border-bottom: 1px solid #D3D3E8;
	padding: 4px;
}

table.ion td.cell-edit-bottom,
table.ion-tab td.cell-edit-bottom
{
	background-color: #EEEEFC;
	border-right: 1px solid #D3D3E8;
	padding: 4px;
}

table.ion td.cell-edit-naked,
table.ion-tab td.cell-edit-naked,
table.ion td.cell-edit-naked-validate,
table.ion-tab td.cell-edit-naked-validate
{
	background-color: #EEEEFC;
	padding: 4px;
}

table.ion td.cell-title-edit,
table.ion-tab td.cell-title-edit,
table.ion td.cell-title-edit-last,
table.ion-tab td.cell-title-edit-last
{
	background-color: #EEEEFC;
	border-bottom: 1px solid #D3D3E8;
	font-weight: bold;
	padding: 4px;
}

table.ion td.cell-title-edit-bottom,
table.ion-tab td.cell-title-edit-bottom,
table.ion td.cell-title-edit-naked,
table.ion-tab td.cell-title-edit-naked
{
	background-color: #EEEEFC;
	font-weight: bold;
	padding: 4px;
}

table.ion td.cell-delete,
table.ion-tab td.cell-delete
{
	background-color: #F9E4E4;
	border-bottom: 1px solid #ECC8C8;
	border-right: 1px solid #ECC8C8;
	padding: 4px;
}

table.ion td.cell-delete-last,
table.ion-tab td.cell-delete-last,
table.ion td.cell-delete-last-validate,
table.ion-tab td.cell-delete-last-validate
{
	background-color: #F9E4E4;
	border-bottom: 1px solid #ECC8C8;
	padding: 4px;
}

table.ion td.cell-delete-bottom,
table.ion-tab td.cell-delete-bottom
{
	background-color: #F9E4E4;
	border-right: 1px solid #ECC8C8;
	padding: 4px;
}

table.ion td.cell-delete-naked,
table.ion-tab td.cell-delete-naked
{
	background-color: #F9E4E4;
	padding: 4px;
}

table.ion td.cell-title-delete,
table.ion-tab td.cell-title-delete,
table.ion td.cell-title-delete-last,
table.ion-tab td.cell-title-delete-last
{
	background-color: #F9E4E4;
	border-bottom: 1px solid #ECC8C8;
	font-weight: bold;
	padding: 4px;
}

table.ion td.cell-title-delete-bottom,
table.ion-tab td.cell-title-delete-bottom
{
	background-color: #F9E4E4;
	border-right: 1px solid #ECC8C8;
	font-weight: bold;
	padding: 4px;
}

table.ion td.cell-title-delete-naked,
table.ion-tab td.cell-title-delete-naked
{
	background-color: #F9E4E4;
	font-weight: bold;
	padding: 4px;
}

table.ion td.cell-delete,
table.ion-tab td.cell-delete
{
	background-color: #F9E4E4;
	border-bottom: 1px solid #ECC8C8;
	border-right: 1px solid #ECC8C8;
	padding: 4px;
}

table.ion td.cell-delete-last,
table.ion-tab td.cell-delete-last
{
	background-color: #F9E4E4;
	border-bottom: 1px solid #ECC8C8;
	padding: 4px;
}

table.ion td.cell-delete-bottom,
table.ion-tab td.cell-delete-bottom
{
	background-color: #F9E4E4;
	border-right: 1px solid #ECC8C8;
	padding: 4px;
}

table.ion td.cell-delete-mid,
table.ion-tab td.cell-delete-mid
{
	background-color: #F9E4E4;
	border-bottom: 1px solid #ECC8C8;
	border-right: 1px solid #777777;
	padding: 4px;
}

table.ion td.cell-delete-naked,
table.ion-tab td.cell-delete-naked
{
	background-color: #F9E4E4;
	padding: 4px;
}

table.ion td.cell-title-delete,
table.ion-tab td.cell-title-delete
{
	background-color: #F9E4E4;
	border-bottom: 1px solid #ECC8C8;
	border-right: 1px solid #ECC8C8;
	font-weight: bold;
	padding: 4px;
}

table.ion td.cell-title-delete-last,
table.ion-tab td.cell-title-delete-last
{
	background-color: #F9E4E4;
	border-bottom: 1px solid #ECC8C8;
	font-weight: bold;
	padding: 4px;
}

table.ion td.cell-title-delete-bottom,
table.ion-tab td.cell-title-delete-bottom,
table.ion td.cell-title-delete-naked,
table.ion-tab td.cell-title-delete-naked
{
	background-color: #F9E4E4;
	font-weight: bold;
	padding: 4px;
}

table.ion td.cell-add-message
{
	padding: 0px;
	border: 0px;
	background-color: #EBF9EA;
}
	
table.ion td.cell-note,
table.ion-tab td.cell-note
{
	background-color: #F9E4E4;
	border-bottom: 1px solid #ECC8C8;
	border-right: 1px solid #F3F4C9;
	padding: 4px;
}

table.ion td.cell-note-last,
table.ion-tab td.cell-note-last
{
	background-color: #FEFFE9;
	border-bottom: 1px solid #F3F4C9;
	padding: 4px;
}

table.ion td.cell-note-bottom,
table.ion-tab td.cell-note-bottom
{
	background-color: #FEFFE9;
	border-right: 1px solid #F3F4C9;
	padding: 4px;
}

table.ion td.cell-note-naked,
table.ion-tab td.cell-note-naked
{
	background-color: #FEFFE9;
	padding: 4px;
}

table.ion td.cell-title-note,
table.ion-tab td.cell-title-note,
table.ion td.cell-title-note-last,
table.ion-tab td.cell-title-note-last
{
	background-color: #FEFFE9;
	border-bottom: 1px solid #F3F4C9;
	font-weight: bold;
	padding: 4px;
}

table.ion td.cell-title-note-bottom,
table.ion-tab td.cell-title-note-bottom
{
	background-color: #FEFFE9;
	border-right: 1px solid #F3F4C9;
	font-weight: bold;
	padding: 4px;
}

table.ion td.cell-title-note-naked,
table.ion-tab td.cell-title-note-naked
{
	background-color: #FEFFE9;
	font-weight: bold;
	padding: 4px;
}

table.ion td.cell-note,
table.ion-tab td.cell-note
{
	background-color: #FEFFE9;
	border-bottom: 1px solid #F3F4C9;
	border-right: 1px solid #F3F4C9;
	padding: 4px;
}

table.ion td.cell-note-last,
table.ion-tab td.cell-note-last
{
	background-color: #FEFFE9;
	border-bottom: 1px solid #F3F4C9;
	padding: 4px;
}

table.ion td.cell-note-bottom,
table.ion-tab td.cell-note-bottom
{
	background-color: #FEFFE9;
	border-right: 1px solid #F3F4C9;
	padding: 4px;
}

table.ion td.cell-note-naked,
table.ion-tab td.cell-note-naked
{
	background-color: #FEFFE9;
	padding: 4px;
}

table.ion td.cell-title-note,
table.ion-tab td.cell-title-note
{
	background-color: #FEFFE9;
	border-bottom: 1px solid #F3F4C9;
	border-right: 1px solid #F3F4C9;
	font-weight: bold;
	padding: 4px;
}

table.ion td.cell-title-note-last,
table.ion-tab td.cell-title-note-last
{
	background-color: #FEFFE9;
	border-bottom: 1px solid #F3F4C9;
	font-weight: bold;
	padding: 4px;
}

table.ion td.cell-title-note-bottom,
table.ion-tab td.cell-title-note-bottom,
table.ion td.cell-title-note-naked,
table.ion-tab td.cell-title-note-naked
{
	background-color: #FEFFE9;
	font-weight: bold;
	padding: 4px;
}

table.ion td.cell-validate:after,
table.ion-tab td.cell-validate:after,
table.ion td.cell-last-validate:after,
table.ion-tab td.cell-last-validate:after,
table.ion td.cell-bottom-validate:after,
table.ion-tab td.cell-bottom-validate:after,
table.ion td.cell-naked-validate:after,
table.ion-tab td.cell-naked-validate:after,
table.ion td.cell-add-validate:after,
table.ion-tab td.cell-add-validate:after,
table.ion td.cell-add-last-validate:after,
table.ion-tab td.cell-add-last-validate:after,
table.ion td.cell-add-bottom-validate:after,
table.ion-tab td.cell-add-bottom-validate:after,
table.ion td.cell-add-naked-validate:after,
table.ion-tab td.cell-add-naked-validate:after,
table.ion td.cell-edit-validate:after,
table.ion-tab td.cell-edit-validate:after,
table.ion td.cell-edit-last-validate:after,
table.ion-tab td.cell-edit-last-validate:after,
table.ion td.cell-edit-bottom-validate:after,
table.ion-tab td.cell-edit-bottom-validate:after,
table.ion td.cell-edit-naked-validate:after,
table.ion-tab td.cell-edit-naked-validate:after,
table.ion td.cell-delete-validate:after,
table.ion-tab td.cell-delete-validate:after,
table.ion td.cell-delete-last-validate:after,
table.ion-tab td.cell-delete-last-validate:after,
table.ion td.cell-delete-bottom-validate:after,
table.ion-tab td.cell-delete-bottom-validate:after,
table.ion td.cell-delete-naked-validate:after,
table.ion-tab td.cell-delete-naked-validate:after,
table.ion td.cell-note-validate:after,
table.ion-tab td.cell-note-validate:after,
table.ion td.cell-note-last-validate:after,
table.ion-tab td.cell-note-last-validate:after,
table.ion td.cell-note-bottom-validate:after,
table.ion-tab td.cell-note-bottom-validate:after,
table.ion td.cell-note-naked-validate:after,
table.ion-tab td.cell-note-naked-validate:after
{
	color: #9E5353;
	content: "*";
}

table.ion td.cell-calendar
{
	background-color: #F5F5F5;
	border-right: 1px solid #DDDDDD;
	padding: 10px 10px 0px 10px;
}

table.ion td.cell-last-calendar
{
	background-color: #F5F5F5;
	padding: 10px 10px 0px 10px;
}

table.ion td.cell-calendar2
{
	background-color: #F5F5F5;
	border-right: 1px solid #DDDDDD;
	padding: 14px 10px 0px 10px;
}

table.ion td.cell-last-calendar2
{
	background-color: #F5F5F5;
	padding: 14px 10px 0px 10px;
}

table.ion td.cell-calendar3
{
	background-color: #F5F5F5;
	border-right: 1px solid #DDDDDD;
	padding: 12px 10px 0px 10px;
}

table.ion td.cell-last-calendar3
{
	background-color: #F5F5F5;
	padding: 12px 10px 0px 10px;
}

table.ion td.cell-calendar4
{
	background-color: #F5F5F5;
	border-right: 1px solid #DDDDDD;
	padding: 14px 10px 0px 10px;
}

table.ion td.cell-last-calendar4
{
	background-color: #F5F5F5;
	padding: 14px 10px 0px 10px;
}

a.addbutton:link,
a.addbutton:visited
{
	background-image: url("/images/addbuttonback.gif");
	border: 1px solid #668364;
	color: #292929;
	font-family: verdana,sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding: 1px 4px 2px 5px;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	cursor:pointer;
}

a.addbutton:hover,
a.addbutton:hover,
button.addbutton:hover
{
	background: transparent;
	background-color: #90A98E;
	border: 1px solid #668364;
	color: #FFFFFF;
	cursor:pointer;
}

a.editbutton:link,
a.editbutton:visited,
button.editbutton
{
	background-image: url("/images/editbuttonback.gif");
	border: 1px solid #68688A;
	color: #292929;
	font-family: verdana,sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding: 1px 4px 2px 5px;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	cursor:pointer;
}

a.editbutton:hover,
a.editbutton:hover,
button.editbutton:hover
{
	background: transparent;
	background-color: #8F8FAC;
	border: 1px solid #68688A;
	color: #FFFFFF;
	cursor:pointer;
}

a.deletebutton:link,
a.deletebutton:visited
{
	background-image: url("/images/delbuttonback.gif");
	border: 1px solid #9E5353;
	color: #292929;
	font-family: verdana,sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding: 1px 4px 2px 5px;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	cursor:pointer;
}

a.deletebutton:hover,
a.deletebutton:hover,
button.deletebutton:hover
{
	background: transparent;
	background-color: #C37E7E;
	border: 1px solid #9E5353;
	color: #FFFFFF;
	cursor:pointer;
}

a.disableipbutton:link,
a.disableipbutton:visited
{
	background-image: url("/images/delbuttonback.gif");
	border: 1px solid #9E5353;
	color: #292929;
	font-family: verdana,sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding: 0px 4px 0px 4px;
	margin: 0px;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	cursor:pointer;
}

a.disableipbutton:hover,
a.disableipbutton:hover,
button.disableipbutton:hover
{
	background: transparent;
	background-color: #C37E7E;
	border: 1px solid #9E5353;
	color: #FFFFFF;
	cursor:pointer;
}

a.textbutton:link,
a.textbutton:visited,
button.textbutton
{
	background-image: url("/images/subtitleback.gif");
	border: 1px solid #777777;
	color: #292929;
	font-family: verdana,sans-serif;
	font-size: 10pt;
	font-weight: normal;
	padding: 1px 3px 2px 4px;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	cursor:pointer;
}

a.textbutton:hover,
a.textbutton:hover,
button.textbutton:hover
{
	background: transparent;
	background-color: #B4B4B4;
	border: 1px solid #777777;
	color: #FFFFFF;
	cursor:pointer;
}

.vert-button-list,
.vert-button-list li
{
	list-style-type: none;
	margin:0; padding:0;
}

.vert-button-list li
{
	margin:0 0 -7px;
}
html>body .vert-button-list li
{
	margin:3px 0;
}

table.ion .vert-button-list a.textbutton:link,
table.ion .vert-button-list a.textbutton:visited,
table.ion-tab .vert-button-list a.textbutton:link,
table.ion-tab .vert-button-list a.textbutton:visited
{
	display:block;
	text-align:center;
}

input.addbutton
{
	background-image: url("/images/addbuttonback.gif");
	border: 1px solid #668364;
	color: #292929;
	font-family: verdana,sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding: 0px 1px 1px 2px;
	margin: -2px 0px -2px 0px;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}

input.addbutton:hover
{
	background: transparent;
	background-color: #90A98E;
	border: 1px solid #668364;
	color: #FFFFFF;
}

input.editbutton
{
	background-image: url("/images/editbuttonback.gif");
	border: 1px solid #68688A;
	color: #292929;
	font-family: verdana,sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding: 0px 1px 1px 2px;
	margin: -2px 0px -2px 0px;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}

input.editbutton:hover
{
	background: transparent;
	background-color: #8F8FAC;
	border: 1px solid #68688A;
	color: #FFFFFF;
}

input.deletebutton
{
	background-image: url("/images/delbuttonback.gif");
	border: 1px solid #9E5353;
	color: #292929;
	font-family: verdana,sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding: 0px 1px 1px 2px;
	margin: -2px 0px -2px 0px;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}

input.deletebutton:hover
{
	background: transparent;
	background-color: #9E5353;
	border: 1px solid #9E5353;
	color: #FFFFFF;
}

input.textbutton
{
	background-image: url("/images/subtitleback.gif");
	border: 1px solid #777777;
	color: #292929;
	font-family: verdana,sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding: 0px 1px 1px 2px;
	margin: -2px 0px -2px 0px;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}

input.textbutton:hover
{
	background: transparent;
	background-color: #B4B4B4;
	border: 1px solid #777777;
	color: #FFFFFF;
}


input.checkbox,
table.ion input.checkbox,
table.ion-tab input.checkbox,
input.radio,
table.ion input.radio,
table.ion-tab input.radio,
#billing-detail-control-panel input.radio
{
	background:transparent;
	border:0;
}

input
{
	background: #E7E7E7;
	border: 1px solid #777777;
	color: #292929;
	font-family: verdana,sans-serif;
	font-size: 9pt;
	padding: 1px 0px 0px 0px;
	margin: -2px 0px -2px 0px;
}

input.editable
{
	width: 100%;
	font-size: 10pt;
	background-color: #F5F5F5;
	border-color: #F5F5F5;
	padding: 1px 0px 0px 0px;
	margin: -2px 0px -2px 0px;
}

textarea
{
	font:10px verdana,sans-serif;
}

textarea.fill
{
	width: 100%;
	height: 100%;
	font-size: 10pt;
}

textarea.fill-note
{
	width: 100%;
	height: 100%;
	font-size: 10pt;
	background-color: #FEFFE9;
	border: solid 1px #FEFFE9;
}

textarea.fill-note-editable
{
	width: 100%;
	height: 100%;
	font-size: 10pt;
	background-color: #FEFFE9;
	border: solid 1px #FEFFE9;
	color: #3B5282;
}

select
{
	color: #292929;
	font-family: verdana,sans-serif;
	font-size: 10pt;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

select.withtext
{
	padding: 0px 0px 0px 0px;
	margin: -1px 0px 0px 0px;
}

select.server
{
	color: #292929;
	font-family: verdana,sans-serif;
	font-size: 10pt;
	padding: 0px 0px 0px 0px;
	margin: 2px 0px 0px 0px;
}

option.server-title
{
	background-color: #B4B4B4;
	font-weight: bold;
	padding-left: 3px;
}

option.server-subtitle
{
	background-image: url('/images/subtitleback.gif');
	font-weight: bold;
	padding-left: 3px;
}

option.server-evenrow
{
	background-color:#EEEEEE;
	font-weight: normal;
	padding-left: 25px;
	cursor: pointer;
	padding-top:0px;
	padding-bottom: 0px;
}

option.server-oddrow
{
	background-color:#FAFAFA;
	font-weight: normal;
	padding-left: 25px;
	cursor: pointer;
	padding-top: 0px;
	padding-bottom: 0px;
}

table.ion div.productback,
table.ion-tab div.productback
{
	display:block;
	padding:2px 5px 3px 23px;
	background-color:transparent;
	background-position:3px -2px;
	background-repeat:no-repeat;
}

table.ion div.iconback,
table.ion-tab div.iconback
{
	display:block;
	padding:1px 0px 3px 20px;
	background-color:transparent;
	background-position:1px 0px;
	background-repeat:no-repeat;
}

table.ion img.employee-photo,
table.ion-tab img.employee-photo
{
	border: solid 1px #777777;
}

div.productback
{
	display:block;
	padding:2px 5px 3px 23px;
	background-color:transparent;
	background-position:3px -2px;
	background-repeat:no-repeat;
}

div.iconback
{
	display:block;
	padding:1px 0px 3px 20px;
	background-color:transparent;
	background-position:1px 0px;
	background-repeat:no-repeat;
}

.cal-widget-label 
{
	float: left; 
	padding-top: 5px; 
	padding-right: 5px;
}

table.ion div.email,
table.ion-tab div.email
{
	display:block;
	padding:1px 0px 3px 20px;
	background-color:transparent;
	background-position:1px 0px;
	background-repeat:no-repeat;
	background-image:url('/images/icon_email.gif');
}

table.ion a.email,
table.ion-tab a.email {
	color: #292929;
	text-decoration: none;
}

#about-wrap
{
	position: relative;
	padding: 4px;
	background: transparent url("/images/background_about.gif") no-repeat right;
	float: right;
}

#about-diagram
{
	position: relative;
	background: transparent url("/images/diagram_ion.gif") no-repeat;
	min-height: 300px;
	float: left;
}

#about-text
{
	position: relative;
	margin-left: 300px;
}

.packet_sent
{
	color: #161977;
}

.cursor
{
	cursor: pointer;
}

#server-selector-wrap {
	color: #EEEEEE;
}
