vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|07 Sep 2006 03:31:45 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|07 Sep 2006 03:31:45 -0000
vti_filesize:IR|370
vti_backlinkinfo:VX|style_ie.css style_ie7.css style_other.css css/transition2.css style_safari.css style.css
