<STYLE type="text/css">
	//<!--
	body {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
	th   {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; background-color: #FFFFFF;}
	td   {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt;}
	form   {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
	heading {  font-family: Arial, Helvetica, sans-serif; font-size: 18pt}
	h1   {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14pt; font-weight: bold}
	A:link    {  text-decoration: none; color: blue}
	A:visited {  text-decoration: none; color: Navy}
	A:hover   {  text-decoration: underline; color: red}
	A:link.nav {  color: #000000}
	A:visited.nav {  color: #000000}
	A:hover.nav {  color: red;}
	.nav {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000}
	.std { font-family: Arial, Helvetica, sans-serif; font-size: 10pt;}
	.hd { font-family: Arial, Helvetica, sans-serif; font-size: 24pt; color: #FFFFFF; font-weight: bold}
	.rvhd { font-family: Arial, Helvetica, sans-serif; font-size: 24pt; color: #000000; font-weight: bold}	
	.hd1 { font-family: Arial, Helvetica, sans-serif; font-size: 16pt; color: #FFFFFF; font-weight: bold}
	.rvhd1 { font-family: Arial, Helvetica, sans-serif; font-size: 16pt; color: #000000; font-weight: bold}	
	.shd { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #000000; font-weight: bold}
	.smhd { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: normal}
	//-->
</STYLE>