vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|27 Oct 2006 03:47:49 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|27 Oct 2006 03:47:49 -0000
vti_filesize:IR|1071
vti_backlinkinfo:VX|style_ie.css style_ie7.css style_other.css css/transition2.css style_safari.css style.css
