RewriteEngine on

AddType video/x-matroska mkv

RewriteCond %{HTTP_HOST} ^gallery.bleach7.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.gallery.bleach7.com$
RewriteRule ^(.*)$ http://www.bleach7.com/?page=member/gallery [R=301,L]

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://bleach7.ath.cx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bleach7.ath.cx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bleach7.maximum7.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bleach7.maximum7.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gallery.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gallery.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://m1.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://m1.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://m10.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://m10.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://m2.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://m2.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://m3.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://m3.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://m4.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://m4.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://m5.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://m5.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://m6.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://m6.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://m7.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://m7.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://m8.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://m8.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://m9.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://m9.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://manga.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://manga.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://randomc.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://randomc.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://test.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://test.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bleach7.ath.cx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bleach7.ath.cx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bleach7.maximum7.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bleach7.maximum7.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gallery.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gallery.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.m1.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.m1.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.m10.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.m10.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.m2.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.m2.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.m3.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.m3.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.m4.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.m4.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.m5.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.m5.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.m6.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.m6.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.m7.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.m7.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.m8.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.m8.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.m9.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.m9.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.manga.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.manga.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.randomc.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.randomc.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.test.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.test.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.toshokan.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.toshokan.bleach7.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://toshokan.bleach7.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://toshokan.bleach7.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ http://www.bleach7.com/linking.jpg [R,NC]

