/* AutoNumber1 */
body {
	background-color: #e8e8e8;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

img {
	border: none;
}

#AutoNumber1 {
	border-collapse: collapse;
	border-style: hidden;
	border-color: #111111;
	width: 700px;
	height: 930px;
}

/* Banner */
td.banner {
	width: 700px;
	height: 164px;
	padding: 0px;
}

img.banner {
	width: 700px;
	height: 164px;
	padding: 0px;
}

/* NavBar */
td.NavBar {
	width: 700px;
	height: 24px;
	padding: 0px;
}

img.spaceuppernavleft {
	width: 9px;
	height: 24px;
	padding: 0px;
}

img.homepage {
	width: 83px;
	height: 24px;
	padding: 0px;
}

img.information {
	width: 101px;
	height: 24px;
	padding: 0px;
}

img.multimedia {
	width: 98px;
	height: 24px;
	padding: 0px;
}

img.assorted {
	width: 70px;
	height: 24px;
	padding: 0px;
}

img.spaceuppernavright {
	width: 339px;
	height: 24px;
	padding: 0px;
}

/* Ad image */
td.ad {
	width: 385px;
	height: 85px;
	background-color: #FFFFFF;
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 0px;
}

img.ad {
	padding: 0px;
}

/* Donations */
td.donations {
	width: 127px;
	height: 21px;
	padding: 0px;
}

img.donations {
	width: 127px;
	height: 21px;
	padding: 0px;
}

/* Latest Releases */
td.latestreleases {
	width: 188px;
	height: 21px;
	padding: 0px;
}

img.latestreleases {
	width: 188px;
	height: 21px;
	padding: 0px;
}

/* Donations Main */
td.donationsmain {
	width: 127px;
	height: 64px;
	background-color: #FFFFFF;
	padding: 0px;
}

#AutoNumber2 {
	border-collapse: collapse;
	background-color: #FFFFFF;
	border: none;
	border-color: #111111;
	width: 127px; 
}

tr.donationsmain {
	background-color: #FFFFFF;
	padding: 0px;
}

/* Spacing for Donations */
td.donatspace {
	width: 16%;
	background-color: #FFFFFF;
	padding: 0px;
}

p.donatspace {
	text-align: right;
	padding: 0px;
}

/* Donation Info */
td.donatinfo {
	width: 84%;
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 0px;
}

/* Navigation background */
td.navbg {
	background-image: url(../images/navbg.gif);
	vertical-align: top;
	width: 188px;
	height: 64px;
	padding: 0px;
}

/* Table that holds the latest releases*/
#AutoNumber3 {
	border: none;
	border-collapse: collapse;
	border-color: #111111;
	width: 178px; 
	padding: 0px;
}

td.latrelspace1 {
	width: 9px;
	padding: 0px;
}

td.latrelmain {
	width: 162px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 0px;
}

td.latrelspace2 {
	width: 7px;
	padding: 0px;
}

/* Banner Rotation Site Content*/
td.bannerrotationsitecontent {
	width: 512px;
	height: 32px;
	background-color: #FFFFFF;
	vertical-align: top;
	padding: 0px;
}

img.bannerrotationsitecontent {
	width: 512px;
	height: 32px;
}

/* Site Navigation rod */
td.siteNav {
	width: 188px;
	height: 32px;
	background-color: #FFFFFF;
	background-image: url(../images/navbg.gif);
	vertical-align: top;
	padding: 0px;
}

img.siteNav {
	width: 188px;
	height: 32px;
}