[exports]
	path = /exports
	use chroot = yes
	read only = true
	list = no
	hosts allow = 66.139.72.251
	hosts deny = *
	uid = 0
	gid = 0

[installs]
	path = /exports/installs
	use chroot = yes
	read only = true
	list = no
	hosts allow = 
	hosts deny = *
	uid = 0
	gid = 0

